{% extends 'base.html' %}
{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/signup/" method="POST" class="card card-body text-center mt-5">
                <h1>Registrarse</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Nombre de usuario">
                </div>
                <div class="mb-3">
                    <input type="password" name="password1" class="form-control" placeholder="Contraseña">
                </div>
                <div class="mb-3">
                    <input type="password" name="password2" class="form-control" placeholder="Confirmar Contraseña">
                </div>
                <button class="btn btn-primary">
                    registrarse
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}